
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: black;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 30px;
}


img {
    height: auto;
    align-self: flex-start;
}