/*  Fonts:
    -Crimson Pro
    -Literata
*/

@import url(https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata);

:root {
    --primary-color: #03a9f4;
    --light-color: #d1d8e0;
    --grey-color: #687080;
    --red-color: #ff4757;
    --flashwhite-color: #f1f2f6;
    --white-color: #ffffff;
    --dark-color: #040404;

    --primary-font: 'Crimson Pro', sans-serif;
    --second-font: 'Literata', serif;
    --fs14: 14px;
    --fw600:600;

    --transition-color: color .3s;
    --transition-background: background-color .3s;
    --transition-border: border .3s;
    --transition-transform: transform .3s;
    
    --shadow: 0px, 10px, 20px, 0px, rbg(0 0 0 / 20%);
    --fade: fade-bottom .3s cubic-beziers(0.39, 0.585, 0.575, 1) both;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}
*,::before,::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-weight: normal;
    font-family: var(--primary-font);
    color: var(--dark-color);
    background-color: var(--white-color);
    transition: all var(--transition-color), background-color var(--transition-background);
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha value (0.8) to control opacity */
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
ul {list-style: none;}
p {margin: 0 0 15px;}
input,textarea,select {font: inherit;width: 100%;}
button{cursor: pointer;font: inherit;}
input[type=checkbox],input[type=radio] {width: auto;}
input::placeholder, textarea::placeholder {color: inherit;}
strong {font-weight: var(--fw600);}

h1,h2,h3,h4 {
    font-family: var(--second-font);
    font-weight: 500;
    line-height: normal;
    color: var(--dark-color);
}
h1 {font-size: 2.75em;}
h2 {font-size: 2.25em;}
h3 {font-size: 1.875em;}
h4 {font-size: 1.5em;}

/* --------------- *
    #Reused Styles
 * --------------- */

 .container {
    max-width: var(--mx-width, 1200px);
    padding: 0 var(--gutter, 15px);
    margin: 0 auto;
 }

 .item-floating {
    position: absolute;
    font-size: 10px;
    font-weight: var(--fw600);
    top: -8px;
    right: 0;
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
 }

 .button > [class*=-btn]
{
    display: inline-block;
    font-size: var(--fs14);
    font-weight: var(--fw600);
    text-transform: uppercase;
    padding: 0 30px;
    line-height: 42px;
    border-width: 2px;
    border-style: solid;
    transition: var(--transition-background)
                var(--transition-color)
                var(--transition-border);
}
.primary-btn, .secondary-btn {
    border-color: var(--dark-color);
}
.primary-btn:hover,
.secondary-btn {
    background-color: var(--dark-color);
    color: var(--white-color);
}
.secondary-btn:hover {
    background-color: transparent;
    border-color: var(--dark-color);
    color: var(--dark-color);
}



 /* --------------- *
    #Grouped Selector
 * --------------- */

.item-floating, .header-center .branding {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-block a {
    display: inline-block;
    position: relative;
    font-size: var(--fs14);
    color: var(--grey-color);
    padding: 5px 0;
    transition: var(--transition-color);
}

.list-block a:hover {
    color: var(--dark-color);
}

.list-block a::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    left: -15px;
    background-color: var(--dark-color);
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 300ms ease;
}

.list-block a:hover:before {
    width: 8px;
    height: 8px;
}



 /* --------------- *
    #HEADER
 * --------------- */
 .inner-header {
    line-height: 70px;
 }
 .inner-header :where(.wrap, .menu >ul),
 .list-inline > ul{
    display: flex;
    align-items: center;
    padding-top: 20px;
 }
.header-left, .header-right {flex-grow: 1;}
 .header-center nav {
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    max-width: 800px;
 }
 .header-center .branding{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    pointer-events: none
 }
 .header-center .branding a {
    font-family: var(--second-font);
    font-size: 35px;
    line-height: inherit;
    pointer-events: auto;
}

.header-center .menu > ul > li > a {
    font-size: var(--fs14);
    font-weight: var(--fw600);
    text-transform: uppercase;
    padding: 0 30px;
    display: flex;
    gap: 5px;
    color: var(--grey-color);
}
.header-center .menu > ul > li > a:hover {
    color: var(--dark-color);
}
 .header-right ul {
    justify-content: end;
 }
.list-inline a,
.menu-trigger,
.close-trigger{
    position: relative;
    font-size: 22px;
    padding: 0 10px;
    line-height: 1;
    display: flex;
    transition: var(--transition-color);
}
.list-inline a:hover {
    color: var(--light-color)
}
.header-left .list-inline {
    display: none;
}
:where(.header-left, .header-right) li {
    display: flex;
    align-items: center;
    height: 80px;

}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 999;
    transition: opacity .3s, visibility .3s;
}
.overlay.active {
    opacity: .7;
    visibility: visible;
    pointer-events: all;
}




/*
__#HEADER: Search__
*/

.inner-header .search-float {
    position: fixed;
    top: 0;    
    left: 0;
    right: 0;
    bottom: auto;
    height: 80px;
    background-color: var(--white-color);
    z-index: 1000;
    display: none;
}
form.search {
    position: relative;
}
form.search :where(i) {
    position: absolute;
    left: 0;
    top: 0;
}
form.search .input {
    outline: 0;
    padding: 15px 50px;

}
form.search i {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    cursor: pointer;
}
form.search :where(i:last-child) {
    left: auto;
    right: 0;
}
.inner-header .search .input {
    display: flex;
    border: 0;
    height: 80px;
    font-size: 20px;
}
.search-float .active {
    display: block;
}


/*
    #HEADER:Mobile Menu
*/


.mobile-menu {
    z-index: 1001;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}
.mobile-menu.active{
    visibility: visible;
    opacity: 1;
}
.mobile-menu .wrap {
    position: relative;
    overflow: hidden;
    max-width: calc(100% - 40px);
    width: 360px;
    height: 100%;
    background-color: var(--white-color);
    pointer-events: auto;
    transition: var(--transition-transform);
    transform: translateX(var(--transX, -100%));
}
.mobile-menu.active .wrap {
    transform: translateX(0);
}

.mobile-menu .close-trigger,
.mobile-menu .child-trigger {
    position: absolute;
    top: 0;
    right: -40px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
}
.mobile-menu .main-menu {
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}
.mobile-menu nav > ul {
    padding: 20px 0;
}
.mobile-menu nav li :where(li, a) {
    display: block;
}
.mobile-menu nav > ul > li > a {
    position: relative;
    padding: 12px 0;
    font-weight: 500;
    transition: var(--transition-color);
}
.mobile-menu nav > ul > li > a:hover {
    color: var(--grey-color);
}
.mobile-menu .child-trigger {
    color: var(--dark-color);
    font-size: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: var( --transition-color);
    z-index: 1;
}
.mobile-menu .child-trigger:hover {
    background-color: var(--light-color);
}
.mobile-menu nav .sub-menu {
    padding-left: 15px;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: .3s ease-in-out;
}
.mobile-menu nav li.active .sub-menu {
    max-height: 1000px;
    visibility: visible;

}
.mobile-menu .button {
    margin-top: auto;
    padding: 20px 0 40px;
    text-align: center;
}
.mobile-menu .button a {
    display: block;
    margin-top: 10px;
}





 /* --------------- *
    #SLIDER
 * --------------- */


.slider :where(.image, .ob-cover) {
    position: relative;
}
.slider .ob-cover {
    height: 400px;
}

.ob-cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}




























/*
__#Login-page__
*/

.wrapper {
    position: relative;
    width: 400px;
    height: 450px;
    background: #687080;
    border: 2px solid #040404;
    margin: auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}
.wrapper .active {
    height: 520px;
}
.wrapper .form-box {
    width: 100%;
    padding: 50px;
}
.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);

}
.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper .icon-close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 25px;
    cursor: pointer;
    z-index: 1;

}
.form-box h4 {
    text-transform: uppercase;
    font-weight: var(--fw600);
    font-size: 18px;
    text-shadow: #d1d8e0 0 0 10px;
}
.input-box {
    position: relative;
    width: 80%;
    max-width: 300px;
    height: 50px;
    border-bottom: #040404 2px solid;
    margin: 15px 0;

}
.input-box label {
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-weight: var(--fw600);
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: -3px;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: var(--light-color);
    line-height: 60px;
}
.remember-forgot {
    font-size: .9em;
    font-weight: var(--fw600);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -15px 0 15px;
}
.remember-forgot label input {
    border-radius: 50px;
    accent-color: #212121;
    margin-right: 3px;
    border-radius: 50px;
}
.remember-forgot a {
    color: rgb(1, 1, 86);
    font-weight: var(--fw600);
}
.remember-forgot a:hover {
    text-decoration:underline;
}


.btn {
    display: block;
    width: 100%;
    height: 40px;
    background: var(--primary-color);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}
.btn :hover {
    text-decoration: var(--white-color);
}

.login-register {
    font-size: 1.05em;
    text-align: center;
    margin: 30px 0 20px;
    font-weight: 500;
}
.login-register p a {
    color: var(--primary-color);
}

.login-register p a:hover {
    color: var(--white-color);
    text-decoration: underline;
}






















@media (min-width: 992px) {
    .menu-trigger{
        display: none;
    }
    .header-center nav {
        display: grid;
    }
    .header-left .list-inline {
        display: block;
    }
    
    /*
    __#Sub menu & Mega__
    */
    nav.menu .sub-menu {
        position: absolute;
        top: auto;
        line-height: initial;
        box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.495);
       z-index: 1000;
        background-color: var(--white-color);
        display: none;
        animation: var(--fade);
    }
    @keyframes fade-bottom {
        0%{
            opacity: 0;
            transform: translateY(10px);
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }
    nav.menu .sub-menu li {
    padding: 5px 30px;
    }
    nav.menu li:hover .sub-menu {
        display: block;
    }

    nav.menu .sub-menu {
        padding: 10px 0;
    }

   }